#blog {
  text-align: center;
  padding: 2rem;
  height: fit-content;
}

#title {
  font-size: var(--headline-2-font-size);
  margin-bottom: 0.5rem;
  color: var(--d-grey);
}

#blog-description {
  font-size: var(--body-2-font-size);
  font-weight: var(--body-2-font-weight);
  color: var(--grey);
  margin-bottom: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#cards {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.card {
  flex: 1 1 calc(30% - 2rem);
  max-width: 30%;
  height: auto;
  min-height: 25rem;
}

@media screen and (max-width: 780px) {
  .card {
    flex: 1 1 calc(45% - 2rem);
    max-width: 45%;
  }
}

@media screen and (max-width: 480px) {
  .card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.image-container {
  width: 100%;
  position: relative;
  overflow: visible;
  height: 15rem;
  display: flex;
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.content-overlay {
  text-align: center;
  padding: 1rem;
  background-color: var(--silver);
  border-radius: 8px;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.card-caption {
  font-size: var(--headline-4-font-size);
  font-weight: var(--headline-4-font-weight);
  color: var(--grey);
  margin-bottom: 0.5rem;
  word-wrap: break-word;
  overflow: visible;
}

#readmore-button {
  color: var(--primary);
  font-weight: bold;
  text-transform: none;
}
