#blog {
  text-align: center;
  padding: 2rem;
}

#title {
  font-size: var(--headline-2-font-size);
  margin-bottom: 0.5rem;
  color: var(--d-grey);
}

#blog-description {
  font-size: var(--body-2-font-size);
  font-weight: var(--body-2-font-weight);
  color: var(--grey);
  margin-bottom: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  justify-items: center;
  width: 30%;
  height: min-content;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-self: center;
}

.content-overlay {
  text-align: center;
  padding: 1rem;
  background-color: var(--silver);
  border-radius: 8px;
  position: absolute;
  padding: 1rem;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
}

.card-caption {
  font-size: var(--headline-4-font-size);
  font-weight: var(--headline-4-font-weight);
  color: var(--grey);
  margin-bottom: 0.5rem;
}

#readmore-button {
  color: var(--primary);
  font-weight: bold;
  text-transform: none;
}

@media screen and (min-width: 780px) {
  #cards {
    flex-direction: row;
  }
}

@media screen and (max-width: 780px) {
  #cards {
    flex-direction: row;
  }
}

@media screen and (max-width: 480px) {
  #cards {
    flex-direction: column;
  }
}
