#clients-section {
  margin-top: 3em;
  margin-bottom: 3em;
}

#clients-section-title {
  color: var(--d-grey);
  font-size: var(--headline-2-font-size);
}

#logos {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: inherit;
  justify-content: space-around;
  margin-top: 2em;
  margin-bottom: 2em;
}
