#demo {
  background-color: var(--silver);
  padding-top: 2em;
  padding-bottom: 2em;
}

#demo-description {
  color: var(--dark-grey);
  font-size: var(--headline-1-font-size);
  font-weight: var(--headline-1-font-weight);
  text-align: center;
  align-self: center;
}

.button {
  background-color: var(--primary);
}
