#navbar {
  background-color: var(--silver);
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  width: 100% !important;
  justify-content: space-around;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  width: fit-content;
}

#logo {
  width: 1.75em;
}

#name {
  color: var(--black);
}

#menu-holder {
  display: flex;
  height: fit-content;
  padding: 0%;
  margin: 0%;
}

#menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: fit-content;
  margin-right: 2em;
  justify-content: space-around;
  align-self: center;
  font-size: var(--header-font-size);
}

.menu-item {
  margin-left: 1em;
  margin-right: 1em;
}

#sign-in-holder {
  display: flex;
  flex-direction: row;
  height: max-content;
}

#login {
  color: var(--primary);
  border-radius: 6px;
}

#sign-up {
  background-color: var(--primary);
  width: max-content;
  border-radius: 6px;
}

@media screen and (min-width: 780px) {
  #menu-holder {
    flex-direction: row;
    justify-content: space-around;
  }
}
